<div [id]="comment.id" class="comment p-2">
  <div id="thread-line" class="ps-2">
    <img id="profile-image" [src]="userProfileImage" [alt]="comment.username + 'profile image'">
    <ng-container *ngIf="!userIsDeleted; else deletedUser">
      <a class="comment-username ms-1" routerLink="/user/{{comment.username}}">
        {{comment.username}}
      </a>
    </ng-container>
    <ng-template #deletedUser>
      <span class="comment-username ms-1">
      [deleted]
    </span>
    </ng-template>
    <span id="timestamp">
    • {{comment.timeSinceCreation}}
    </span>
    <span id="timestamp-after-edit" *ngIf="comment.timeSinceEdit.length > 0">
      • edited {{comment.timeSinceEdit}}
    </span>
    <p id="comment-text" class="ms-2 mt-1 mb-1" [innerHTML]="comment.text" style="margin: 0"></p>
    <div class="d-flex flex-row ms-2">
      <app-comment-vote class="flex-column" [comment]="comment"></app-comment-vote>
      <button class="ms-1 btn-tertiary" (click)="showReplyForm(); $event.stopPropagation()">
        <span class="material-symbols-outlined pe-1">reply</span>
        Reply
      </button>
      <div ngbDropdown>
        <button class="btn-tertiary p-1 ms-1" id="share-button" ngbDropdownToggle role="button" (click)="$event.stopPropagation()">
          <span class="material-symbols-outlined d-flex">share</span>
          <span class="ps-1 d-flex post-button-text">Share</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="share-button">
          <button ngbDropdownItem class="btn-tertiary d-flex justify-content-center" (click)="copyLink(); $event.stopPropagation()">
            <span class="material-symbols-outlined">link</span>
            <span class="ps-1 d-flex post-button-text">Copy link</span>
          </button>
        </div>
      </div>
      <button *ngIf="showEdit()" class="ms-1 btn-tertiary" (click)="showEditForm(); $event.stopPropagation()">
        Edit
      </button>
    </div>
    <div *ngIf="replyFormIsExpanded" class="mt-3 ms-2">
      <form [formGroup]="replyForm" (ngSubmit)="reply()">
        <editor apiKey="yrqxhih3zs204qm3tlwladpgem9hqlj1hvhoxuhn020cbidz" [formControlName]="'text'" [init]="editorConfig"></editor>
        <div class="d-flex flex-row-reverse">
          <div>
            <button type="submit" class="btn-primary-small-font mt-2">Reply</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="editFormVisible" class="mt-3 ms-2">
      <form [formGroup]="editForm" (ngSubmit)="edit()">
        <editor apiKey="yrqxhih3zs204qm3tlwladpgem9hqlj1hvhoxuhn020cbidz" [formControlName]="'text'" [init]="editorConfig"></editor>
        <div class="d-flex flex-row-reverse">
          <div>
            <button type="submit" class="btn-primary-small-font mt-2">Save Edits</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="hasSubComments()">
      <div *ngFor="let comment of subComments" class="ms-3 mb-3 mt-3">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
  </div>
</div>
