<header>
  <nav class="navbar fixed-top navbar-expand-lg pt-1 pb-1">
    <div class="flex-grow-1">
      <a aria-label="Home" class="logo" routerLink="/">
        <img src="assets/Socaly-logo_blue.png" alt="Image representing Socaly logo" class="socaly-logo">
      </a>
    </div>
    <div class="flex-grow-1 float-end">
      <div *ngIf="isLoggedIn" ngbDropdown class="col-3 float-end">
        <button class="user-dropdown text-start form-select" id="dropdownBasic1" ngbDropdownToggle>
          {{username}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button (click)="goToUserProfile()" ngbDropdownItem>
            Profile
          </button>
          <button (click)="logout()" ngbDropdownItem>
            Logout
          </button>
        </div>
      </div>
      <div *ngIf="!isLoggedIn">
        <button (click)="signup()" class="float-end sign-up me-2">Sign up</button>
        <button (click)="login()" class="float-end login me-2">Login</button>
      </div>
    </div>
  </nav>
</header>
