nav {
  height: 3em;
}

.socaly-logo {
  height: 2em;
  width: auto;
}

.login, .sign-up {
  background-color: transparent;
  color: #3B82F6;
  fill: #3B82F6;
  border: 1px solid #3B82F6;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.sign-up {
  background-color: #3B82F6;
  border-color: #3B82F6;
  color: aliceblue;
}

.sign-up:hover {
  opacity: 0.6;
}

.user-details {
  background-color: transparent;
  color: #8B4BF4;
  fill: #8B4BF4;
  border: 1px solid #8B4BF4;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.dropdown-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-item:hover {
  background-color: #8B4BF4;
}
