<div class="modal-header">
  <h4 class="modal-title">Create Community</h4>
  <button type="button" class="btn-close" (click)="discard()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form class="community-form" id="create-community-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
    <div class="form-group">
      <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px" placeholder="Title">
      <textarea type="text" [formControlName]="'description'" class="description-textarea" placeholder="Description"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer justify-content-end p-2">
  <div class="d-flex flex-row">
    <div class="me-2">
      <button class="btn-secondary" (click)="discard()">
        Discard
      </button>
    </div>
    <div>
      <button type="submit" form="create-community-form" class="btn-primary">
        Create
      </button>
    </div>
  </div>
</div>
