@use '../../../utilities/colors.scss';

textarea {
  border-radius: 10px;
  border: 1px solid colors.$lightgray;
  padding: 10px;
}

.expandable-div {
  background-color: colors.$card-background-color;
  color: colors.$darkgray;
  padding: 1rem;
  border-radius: 20px;
}

.content {
  padding: 10px;
  transition: height 0.3s, opacity 0.3s;
  opacity: 1; /* Set initial opacity to 1 */
}

.collapsed .content {
  opacity: 1;
  padding: 0;
}

.black-border:hover {
  outline: none;
}

.black-border:focus {
  border: 1px solid black;
}

.outline-none:focus {
  outline: none;
  box-shadow: none;
  border-color: #495057;
}

.nav-link.active {
  color: colors.$primary-color;
}

a {
  color: #495057
}

.dropzone {
  height: 174px;
  border: 1px dashed colors.$border-color;
}

.dropdown-toggle::after {
  content: none;
}

.progress-bar {
  background-color: colors.$primary-color;
}
