.new-user-signup {
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.side-banner {
  background-image: url("../../../assets/side-banner.png");
  background-size: 100% 100%;
}

.sign-up-link {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0079d3;
  cursor: pointer;
}
