<div class="sidebar-view-community sticky-top">
  <div class="blue-background mb-2 pt-2 pb-2">
    <span class="m-3">Popular Communities</span>
  </div>
  <span *ngFor="let community of communities">
    <span class="community-text">
      <a href="/view-community/{{community.id}}"><span class="m-3">{{community.name}}</span></a>
    </span>
    <hr class="mt-2 mb-2">
  </span>
  <div style="text-align: center" *ngIf="displayViewAll">
    <a style="font-weight: bold" routerLink="/communities">
      View all
    </a>
  </div>
</div>
