.side-banner {
  background-image: url('../../../assets/side-banner.png');
  background-size: 100% 100%;
}

.height {
  height: 350px;
}

.modal-footer {
  background-color: transparent;
  position: absolute;
}
