@use '../../../utilities/colors';

.description {
  font-size: 12px;
  font-weight: 400;
}

.about-textarea {
  width: 100%;
  border: 1px solid colors.$border-color;
  padding: 0.5rem;
  border-radius: 4px;
}

.user-images {
  height: 120px;
}

.user-profile-image {
  height: 100%;
  border-radius: 4px;
}

.user-profile-banner {
  height: 100%;
  aspect-ratio: 3.88;
  border-radius: 4px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.button {
  z-index: 2;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  border: 1px colors.$primary-color solid;
  color: colors.$primary-color;
  cursor: pointer;
}

.change-profile-image-button {
  @extend .button;
  margin-top: 5rem;
  margin-left: -2.5rem;
}

.change-banner-button {
  @extend .button;
  margin-top: 5rem;
  margin-left: -2.5rem;
}

.profile-banner-loading-wheel-position {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -17rem;
}

.profile-image-loading-wheel-position {
  z-index: 3;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -6.4rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
