@use '../../../utilities/colors';

.description {
  font-size: 12px;
  font-weight: 400;
}

.about-textarea {
  width: 100%;
  border: 1px solid colors.$border-color;
  padding: 0.5rem;
  border-radius: 4px;
}

.user-images {
  height: 120px;
}

.user-profile-image {
  height: 100%;
  border-radius: 4px;
}
