<div class="post" *ngFor="let post of posts$">
  <div class="row m-0" (click)="goToPost(post.id)">
    <div class="col-md-1 p-2 vote-background">
      <app-vote-button [post]="post"></app-vote-button>
    </div>
    <div class="col-md-11 p-1 pb-2">
      <span class="community-info">
        <span class="community-text" *ngIf="showCommunity$"><a class="post-url" routerLink="" (click)="$event.stopPropagation()">{{post.communityName}}</a></span>
        <span *ngIf="showCommunity$"> • </span>
        <span>   Posted by <a class="username" routerLink="/user/{{post.userName}}" (click)="$event.stopPropagation()">u/{{post.userName}}</a></span>
        <span>   {{post.duration}}</span>
      </span>
      <div class="post-title">
        <a class="post-name" href="{{post.url}}">{{post.postName}}</a>
      </div>
      <div>
        <p class="post-text" [innerHTML]="post.description"></p>
      </div>
      <span>
        <a class="bntComments p-2" role="button" (click)="goToPost(post.id)">
          <fa-icon [icon]="faCommentAlt"></fa-icon> {{post.commentCount}} Comments
        </a>
      </span>
    </div>
  </div>
</div>
