<div class="modal-header">
  <h4 class="modal-title">Create Post</h4>
  <button type="button" class="btn-close outline-none" (click)="discardPost()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form class="post-form" id="create-post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
    <div class="form-group">
      <select class="form-control" [formControlName]="'communityName'">
        <option value="" selected disabled>
          Select Community
        </option>
        <option *ngFor="let community of communities">
          {{community.name}}
        </option>
      </select>
      <input type="text" class="form-control mt-2 mb-2" [formControlName]="'postName'" placeholder="Title">
      <editor apiKey="api-key" [formControlName]="'description'" [init]="editorConfig" style="border-radius: 4px"></editor>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button (click)="discardPost()" class="btn btn-secondary">
      Discard
    </button>
    <button type="submit" form="create-post-form" class="btn btn-primary">
      Post
    </button>
</div>
