.btn-secondary, .btn-primary {
  fill: #3B82F6;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  margin-top: 5px;
  color: #3B82F6;
  background-color: transparent;
}

.btn-primary {
  background-color: #3B82F6;
  color: white;
}

.black-border:hover {
  outline: none;
}

.black-border:focus {
  border: 1px solid black;
}

.outline-none:focus {
  outline: none;
  box-shadow: none;
  border-color: #495057;
}

.nav-link.active {
  color: #3b82f6;
}

a {
  color: #495057
}

.dropzone {
  height: 200px;
  border: 1px dashed #ccc;
}

.dropdown-toggle::after {
  content: none;
}

.block {
  display: block;
  width: 100%
}

.disabled-btn, .disabled-btn:hover {
  /*cursor: not-allowed;*/
  cursor: not-allowed;
  filter: grayscale(1);
}
