.black-border:hover {
  outline: none;
}

.black-border:focus {
  border: 1px solid black;
}

.outline-none:focus {
  outline: none;
  box-shadow: none;
  border-color: #495057;
}

.nav-link.active {
  color: #3b82f6;
}

a {
  color: #495057
}

.dropzone {
  height: 200px;
  border: 1px dashed #ccc;
}

.dropdown-toggle::after {
  content: none;
}

.block {
  display: block;
  width: 100%
}

.disabled-btn, .disabled-btn:hover {
  cursor: not-allowed;
  filter: grayscale(1);
}

.progress-bar {
  background-color: #3b82f6;
}

.modal-footer {
  border-top: none;
  position: static;
  padding: 1rem;
  bottom: 0;
}
