<div class="sidebar d-none d-lg-block d-xl-block">
  <div>
    <img class="sidebar-banner" src="{{userDetails.profileBanner}}" alt="profile banner">
  </div>
  <div class="profile-image-frame">
    <img class="profile-image" src="{{userDetails.profileImage}}" alt="profile image">
  </div>
  <span *ngIf="isCurrentUser()">
    <input type="file" id="actual-btn" accept=".png,.pjp,.jpg,.pjpeg,.jpeg,.jfif" (change)="uploadProfileImage($event)" hidden/>
    <label for="actual-btn" class="material-symbols-outlined me-1 change-profile-image-button">
      add_a_photo
    </label>
    <div class="material-symbols-outlined me-1 change-banner-button" (click)="uploadProfileBanner()">
      add_a_photo
    </div>
    <div class="material-symbols-outlined me-1 settings-button" (click)="openSettings()">
      settings
    </div>
  </span>
  <div class="content">
    <div class="user-name">
      u/{{username}}
    </div>
    <div class="cake-day">
      Cake day
      <div class="align-items-center d-flex">
        <span class="material-symbols-outlined me-1 cake">
          cake
        </span>
        <span class="date">
          {{userDetails.createdDate | date: 'longDate'}}
        </span>
      </div>
    </div>
  </div>
</div>
