@use '../../../utilities/colors';

#post {
  border: 1px solid colors.$border-color;
  overflow: hidden;
  background-color: colors.$card-background-color;
  color: colors.$darkgray;
  position: relative;
  border-radius: 4px;
}

.post-hover-border:hover {
  border-color: colors.$hover-border-color;
  cursor: pointer;
}

#community-name {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

#community-name:hover {
  text-decoration: underline;
}

img {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#post-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: black;
}

#community-info {
  font-size: 0.75rem;
}

#username {
  text-decoration: none;
  color: colors.$darkgray;
}

#username:hover {
  text-decoration: underline;
}

.comment-username {
  color: black;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 500;
}

.comment-username:hover {
  text-decoration: underline;
}

.comment-text {
  color: black;
}

.post-button-text {
  font-size: 0.75rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
}

.material-symbols-outlined {
  font-size: 1.2rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  min-width: 100px;
}

.medium-text {
  font-size: 0.87rem;
}

#see-full-discussion-link {
  color: colors.$primary-color;
  cursor: pointer;
}
