.about-community-sidebar {
  --post-line-color: #ccc;
  border: 0.5px solid #ccc;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  border-radius: 4px;
  padding: 0;
  margin: 15px 0 0;
  width: 312px;
}

.blue-background {
  background-color: #0079d3;
  color: white;
  border: 1px solid #0079d3;
}

.header-text {
  font-size: 14px;
  font-weight: 700;
}

.text {
  color: black;
  font-size: 0.87rem;
}

.icon {
  color: black;
  font-size: 1.2rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 14
}

hr {
  height: 0.5px;
}
