$body-background-color: #f0f2f5;
$primary-color: #0079d3;
$lightgray: #878a8c;

$btn-primary-active-color: #3d99de;
$btn-primary-hover-color: #1484d7;
$btn-primary-focus-color: #288eda;

$btn-secondary-active-color: rgba(0, 121, 211, 0.15);
$btn-secondary-hover-color: rgba(0, 121, 211, 0.04);
$btn-secondary-focus-color: rgba(0, 121, 211, 0.08);

$dropdown-item-active-color: #ebebeb;
$dropdown-item-hover-color: #f5f5f5;
$dropdown-item-focus-color: #e0e0e0;
