$body-background-color: #f0f2f5;

$btn-primary-color: #0079d3;
$btn-primary-active-color: #3d99de;
$btn-primary-hover-color: #1484d7;
$btn-primary-focus-color: #288eda;

$btn-secondary-active-color: rgba(0, 121, 211, 0.15);
$btn-secondary-hover-color: rgba(0, 121, 211, 0.04);
$btn-secondary-focus-color: rgba(0, 121, 211, 0.08);
