@use '../../../utilities/colors';

.nav-tabs {
  background-color: white;
  border-top: 1px colors.$border-color solid;
  padding-left: calc((100vw - 1200px + 0.75rem) / 2);
  padding-right: calc((100vw - 1200px + 0.75rem) / 2);
}

.settings-page {
  border: 1px solid colors.$border-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
  background-color: colors.$card-background-color;
  color: colors.$darkgray;
  position: relative;
  border-radius: 4px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

h4 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  border-bottom: 1px solid colors.$border-color;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.description {
  font-size: 12px;
  font-weight: 400;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

.delete-account-button {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.delete-account-button-text {
  color: #ff585b;
}

.delete-icon {
  color: colors.$darkgray;
}

.about-textarea {
  width: 100%;
  border: 1px solid colors.$border-color;
  padding: 0.5rem;
  border-radius: 4px;
}

.user-images {
  height: 120px;
}

.user-profile-image {
  height: 100%;
  border-radius: 4px;
}

.user-profile-banner {
  height: 100%;
  aspect-ratio: 3.88;
  border-radius: 4px;
}

.red {
  color: red;
}

.black {
  color: black;
}

.btn-resend-verification-email {
  font-size: 12px;
  font-weight: 400;
  display: block;
  color: colors.$primary-color;
  background-color: transparent;
  text-decoration: underline;
  border: none;
}

.feed-sort-dropdown-menu-toggle {
  width: 100px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  color: colors.$primary-color;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.feed-sort-dropdown-menu-toggle:focus {
  box-shadow: none;
}

.feed-sort-dropdown-menu-toggle::after {
  display: none;
}

.feed-sort-dropdown-menu {
  min-width: 0;
}

.feed-sort-button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.button {
  z-index: 2;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  border: 1px colors.$primary-color solid;
  color: colors.$primary-color;
  cursor: pointer;
}

.change-profile-image-button {
  @extend .button;
  margin-top: 5rem;
  margin-left: -2.5rem;
}

.change-banner-button {
  @extend .button;
  margin-top: 5rem;
  margin-left: -2.5rem;
}

.profile-banner-loading-wheel-position {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -17rem;
}

.profile-image-loading-wheel-position {
  z-index: 3;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -6.4rem;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
