@use '../../../utilities/colors';

.nav-tabs {
  background-color: white;
  border-top: 1px colors.$border-color solid;
  padding-left: calc((100vw - 1200px + 0.75rem) / 2);
  padding-right: calc((100vw - 1200px + 0.75rem) / 2);
}

.settings-page {
  border: 1px solid colors.$border-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
  background-color: colors.$card-background-color;
  color: colors.$darkgray;
  position: relative;
  border-radius: 4px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

h4 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  border-bottom: 1px solid colors.$border-color;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.description {
  font-size: 12px;
  font-weight: 400;
}

.flex-flow-wrap {
  flex-flow: wrap;
}
