<ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
  <li ngbNavItem>
    <a ngbNavLink>Account</a>
    <ng-template ngbNavContent class="h-100">
      <div class="settings-page">
        <h2>Account Settings</h2>
        <h4>Account preferences</h4>
        <div class="d-flex flex-flow-wrap">
          <div>
            <h3>
              Email Address
            </h3>
            <p class="description">

            </p>
          </div>
          <div class="d-flex align-items-center justify-content-end flex-grow-1">
            <div>
              <button class="btn-secondary">
                Change
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex flex-flow-wrap">
          <div>
            <h3>
              Change password
            </h3>
            <p class="description">
              Password must be at least 8 characters long
            </p>
          </div>
          <div class="d-flex align-items-center justify-content-end flex-grow-1">
            <div>
              <button class="btn-secondary">
                Change
              </button>
            </div>
          </div>
        </div>
        <h4>Delete account</h4>
        <div class="d-flex flex-flow-wrap">
          <div class="d-flex align-items-center justify-content-end flex-grow-1">
            <div>
              <button class="delete-account-button d-flex align-items-center">
                <span class="material-symbols-outlined delete-icon">
                  delete
                </span>
                <span class="delete-account-button-text">
                  Delete account
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Profile</a>
    <ng-template ngbNavContent>

    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Safety & Privacy</a>
    <ng-template ngbNavContent>

    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Feed Settings</a>
    <ng-template ngbNavContent>

    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Emails</a>
    <ng-template ngbNavContent>

    </ng-template>
  </li>
</ul>
<div class="container">
  <div class="d-flex">
    <div class="flex-grow-1">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
