.sticky-top {
  top: 71px;
}

.community-background {
  background-color: #3B82F6;
  height: 64px;
}

.community-header {
  background-color: white;
  height: 78px;
  /*font-size: 32px;*/
  /*font-weight: 700;*/
}

.community-logo {
  height: 62px;
  width: 62px;
  margin-top: -14px;
}

.community-name-bold {
  font-size: 32px;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  color: #7C7C7C
}
