.align-middle {
  vertical-align: middle;
}

.text {
  font-weight: 700;
}

.green-color-hover:hover {
  color: green;
}

.red-color-hover:hover {
  color: red;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}
