<div class="sidebar d-none d-lg-block d-xl-block">
  <button [ngClass]="{'blue': discussions}" (click)="goToDiscussions()">
    <fa-icon [icon]="faComments"></fa-icon><span class="m-3">Discussions</span>
  </button>
  <button [ngClass]="{'blue': news}" (click)="goToNews()">
    <fa-icon [icon]="faNewspaper"></fa-icon><span class="m-3">News</span>
  </button>
  <button [ngClass]="{'blue': communities}" (click)="goToCommunities()">
    <fa-icon [icon]="faUsers"></fa-icon><span class="m-3">Communities</span>
  </button>
</div>
