@use "../../../utilities/colors.scss";

.side-banner {
  background-image: url("../../../assets/side-banner.png");
  background-size: 100% 100%;
}

.log-in-link {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: colors.$primary-color;
  cursor: pointer;
}

.min-height {
  height: 22rem;
}

.modal-footer {
  background-color: transparent;
  position: absolute;
}
