<div class="modal-header">
  <h4 class="modal-title">Sign up</h4>
  <button type="button" class="btn-close" (click)="discardSignup()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form id="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()">
  <input type="text" [formControlName]="'email'" id="email_address" class="form-control" name="email-address" placeholder="E-mail address" required autofocus>
  <span *ngIf="!signupForm?.get('email')?.valid && signupForm?.get('email')?.touched">
    Please provide a valid email
  </span>
  <input type="text" [formControlName]="'username'" class="form-control mt-2" placeholder="Username" required autofocus>
  <span *ngIf="!signupForm?.get('username')?.valid && signupForm?.get('username')?.touched">
    Please provide a valid username
  </span>
  <input type="password" [formControlName]="'password'" id="password" class="form-control mt-2" name="password" placeholder="Password" required>
  <span *ngIf="!signupForm?.get('password')?.valid && signupForm?.get('password')?.touched">
    Please provide a valid password
  </span>
  </form>
</div>
<div class="modal-footer">
  <span>Existing user? <a class="me-2 existing-user-login" routerLink="/login">Login</a></span>
  <button type="submit" class="btn btn-primary" form="signup-form">
    Sign up
  </button>
</div>
