.row-post {
  padding-top: 50px;
}

.post {
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
}

.post:hover {
  border-color: #303030;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.bntComments {
  border-radius: 4px;
  color: #878A8C;
  opacity: 1;
  text-decoration: none;
}

.bntComments:hover {
  opacity: 0.65;
  cursor: pointer;
  background-color: #E8E8E8;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.post-url, .post-name {
  color: black;
  text-decoration: none;
}

.community-info {
  font-size: 12px;
}

.community-text {
  font-weight: bold;
}

.community-text:hover {
  text-decoration: underline;
}

.post-text {
  margin-top: 10px;
  color: black;
}

.username {
  text-decoration: none;
  color: #878A8C;
}

.username:hover {
  text-decoration: underline;
}

.vote-background {
  max-width: 40px;
  background-color: #f8f9fa;
}

.comment-username {
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}

.comment-username:hover {
  text-decoration: underline;
}

.comment-text {
  color: black;
}

.post-button-text {
  font-size: 0.75rem;
  font-weight: 700;
  font-family: Arial, sans-serif;
}

.post-button-icon {
  font-size: 1.2rem;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48
}
