<div class="sidebar-view-community d-none d-lg-block d-xl-block">
  <div class="community-sidebar-banner">
    <span class="banner-text">Popular Communities</span>
  </div>
  <div *ngFor="let community of communities">
    <hr>
    <div class="mt-2 mb-2">
      <a href="community/{{community.name}}"><span class="m-3">{{community.name}}</span></a>
    </div>
  </div>
  <div class="text-center ps-3 pb-3 pe-3 pt-1" *ngIf="displayViewAll">
    <button routerLink="/communities" class="btn btn-primary" style="width: 60%">
      View all
    </button>
  </div>
</div>
