.sidebar-view-community {
  --post-line-color: #ccc;
  border: 0.5px solid #ccc;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

hr {
  height: 0.5px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.show-all:hover {
  color: #3B82F6;
}

.blue-background {
  background-color: #3B82F6;
  color: white;
  border: 1px solid #3B82F6;
}

.btn-secondary, .btn-primary {
  fill: #3B82F6;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  margin-top: 5px;
  color: #3B82F6;
  background-color: transparent;
}

.btn-primary {
  background-color: #3B82F6;
  color: white;
}
