@use '../../../utilities/colors';

.nav-tabs {
  background-color: white;
  border-top: 1px colors.$border-color solid;
  padding-left: calc((100vw - 1200px + 0.75rem) / 2);
  padding-right: calc((100vw - 1200px + 0.75rem) / 2);
}

.sidebar {
  margin-top: 1rem;
}

.container {
  height: calc(100% - 48px);
}

#thoughtful-snoo {
  height: 8rem;
}

#deleted-user-message {
  font-size: 18px;
}

.comments {
  background-color: white;
  border-radius: 4px;
}

.comments-header {
  font-size: 0.75rem;
}

.comment {
  border-top: 1px solid colors.$border-color;
}

.comment:hover {
  cursor: pointer;
}

.comments-header-link {
  color: colors.$primary-color;
  text-decoration: none;
  cursor: pointer;
}

.empty-card {
  background-color: colors.$lightgray;
  border-radius: 4px;
  color: #b9bdc2
}

.empty-card-text {
  color: black;
}


