@use '../../../utilities/colors.scss';

.new-user-signup {
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background-color: transparent;
}

.sign-up-link {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: colors.$primary-color;
  cursor: pointer;
}
