<h2>Feed Settings</h2>
<h4>Content preferences</h4>
<div class="d-flex mb-2">
  <div>
    <h3>
      Community content sort
    </h3>
    <p class="description">
      Choose how you would like content organized in communities you visit. This will not affect global feeds
      such as Home, or Popular.
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1" ngbDropdown placement="bottom-end">
    <button id="contentSortDropdown" ngbDropdownToggle class="feed-sort-dropdown-menu-toggle form-select">
      <span *ngIf='isHot()' class="d-flex align-items-center">
        <span class="material-symbols-outlined">
          local_fire_department
        </span>
        <span class="ms-1">
          hot
        </span>
      </span>
      <span *ngIf="isNew()" class="d-flex align-items-center">
        <span class="material-symbols-outlined">
          brightness_empty
        </span>
        <span class="ms-1">
          new
        </span>
      </span>
      <span *ngIf="isTop()" class="d-flex align-items-center">
        <span class="material-symbols-outlined">
          leaderboard
        </span>
        <span class="ms-1">
          top
        </span>
      </span>
    </button>
    <div ngbDropdownMenu aria-labelledby="contentSortDropdown" class="feed-sort-dropdown-menu">
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.HOT)">
        <span class="material-symbols-outlined">
          local_fire_department
        </span>
        <span class="ms-1">
          hot
        </span>
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.NEW)">
        <span class="material-symbols-outlined">
          brightness_empty
        </span>
        <span class="ms-1">
          new
        </span>
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.TOP_TODAY)">
        <span class="material-symbols-outlined">
          leaderboard
        </span>
        <span class="ms-1">
          top
        </span>
      </button>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-end" ngbDropdown placement="bottom-end" *ngIf="isTop()">
    <button id="contentSortDropdownDuration" ngbDropdownToggle class="feed-sort-dropdown-menu-toggle form-select">
      <span *ngIf='isTopToday()' class="d-flex align-items-center">
        <span class="ms-1">
          today
        </span>
      </span>
      <span *ngIf="isTopWeek()" class="d-flex align-items-center">
        <span class="ms-1">
          week
        </span>
      </span>
      <span *ngIf="isTopMonth()" class="d-flex align-items-center">
        <span class="ms-1">
          month
        </span>
      </span>
      <span *ngIf="isTopYear()" class="d-flex align-items-center">
        <span class="ms-1">
          year
        </span>
      </span>
      <span *ngIf="isTopAllTime()" class="d-flex align-items-center">
        <span class="ms-1">
          all time
        </span>
      </span>
    </button>
    <div ngbDropdownMenu aria-labelledby="contentSortDropdownDuration" class="feed-sort-dropdown-menu">
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.TOP_TODAY)">
        <span class="ms-1">
          today
        </span>
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.TOP_WEEK)">
        <span class="ms-1">
          week
        </span>
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.TOP_MONTH)">
        <span class="ms-1">
          month
        </span>
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.TOP_YEAR)">
        <span class="ms-1">
          year
        </span>
      </button>
      <div class="dropdown-divider"></div>
      <button ngbDropdownItem class="d-flex align-items-center feed-sort-button" (click)="changeCommunityContentSort(SortingType.TOP_ALL_TIME)">
        <span class="ms-1">
          all time
        </span>
      </button>
    </div>
  </div>
</div>

<div class="d-flex mb-2">
  <div>
    <h3>
      Remember per community
    </h3>
    <p class="description">
      Enable if you would like each community to remember and use the last content sort you selected for that community.
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.rememberLastCommunityContentSort">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="d-flex mb-2">
  <div>
    <h3>
      Community themes
    </h3>
    <p class="description">
      Use custom themes for all communities. You can also turn this off on a per community basis.
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.useCustomCommunityThemes">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="d-flex mb-2">
  <div>
    <h3>
      Open posts in new tab
    </h3>
    <p class="description">
      Enable to always open posts in a new tab.
    </p>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.openPostsInNewTab" (change)="changeOpenPostsInNewTab()">
      <span class="slider round"></span>
    </label>
  </div>
</div>
