<div class="modal-header">
  <h4 class="modal-title">Update your password</h4>
  <button type="button" class="btn-close outline-none" (click)="discard()" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form id="password-update-form" class="d-flex flex-column" [formGroup]="passwordUpdateForm" (ngSubmit)="updatePassword()">
    <label for="current-password"><p class="sr-only">Current password: </p>
      <input id="current-password" class="form-control shadow-none mt-2 mb-2 black-border" type="password"
             [formControlName]="'currentPassword'" placeholder="Current password" required>
    </label>

    <label for="new-password"><p class="sr-only">New password: </p>
      <input id="new-password" class="form-control shadow-none mt-2 mb-2 black-border" type="password"
             [formControlName]="'newPassword'" placeholder="New password" required>
    </label>

    <label for="confirm-new-password"><p class="sr-only">Confirm new password: </p>
      <input id="confirm-new-password" class="form-control shadow-none mt-2 mb-2 black-border" type="password"
             placeholder="Confirm new password" [formControlName]="'confirmNewPassword'" required>
    </label>
  </form>
</div>
<div class="modal-footer justify-content-end p-2">
  <div class="d-flex flex-row">
    <div>
      <button class="btn-secondary" (click)="discard()">
        Cancel
      </button>
    </div>
    <div class="ms-2">
      <button class="btn-primary" [disabled]="arePasswordFieldsEmpty() || !areNewPasswordsEqual()" type="submit"
              form="password-update-form">
        Save
      </button>
    </div>
  </div>
</div>
