.sticky-top {
  top: 71px;
}

.community-banner {
  height: 150px;
  background-image: url("../../assets/community-default-banner.png");
  background-position: top;
  background-size: cover;
}

.community-header {
  background-color: white;
  height: 78px;
  /*font-size: 32px;*/
  /*font-weight: 700;*/
}

.community-logo {
  height: 62px;
  width: 62px;
  margin-top: -14px;
}

.community-name {
  margin-left: 0.1rem;
}

.community-name-bold {
  font-size: 32px;
  font-weight: 700;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  color: #7C7C7C
}

.hover-text:after {
  content: "Joined";
}

.hover-text:hover:after {
  content: "Leave";
}

.min-width {
  min-width: 5.3rem;
}
