<div class="community-background"></div>
<div class="community-header">
  <div class="container">
    <div class="d-flex">
      <div class="d-flex flex-grow-1 flex-row">
        <div class="">
          <img src="../../assets/community-default-icon.png" alt="Image representing community logo" class="community-logo">
        </div>
        <div class="ps-3 pt-1">
          <h1 class="mb-0">{{communityName}}</h1>
          <h2 class="community-name">s/{{communityName}}</h2>
        </div>
        <div class="ps-4 pt-2">
          <div *ngIf="userBelongsToCommunity">
            <button class="btn-secondary hover-text min-width" (click)="leaveCommunity()"></button>
          </div>
          <div *ngIf="!userBelongsToCommunity">
            <button class="btn-primary min-width" (click)="joinCommunity()">Join</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex">
    <div class="flex-grow-1 me-lg-4">
      <app-create-post-topbar></app-create-post-topbar>
      <app-post [posts]="posts" [showCommunityName]="false"></app-post>
    </div>
    <div>
      <div class="sticky-top">
        <app-about-community-sidebar [communityName]="communityName"></app-about-community-sidebar>
      </div>
    </div>
  </div>
</div>
