.content {
  --post-line-color: #ccc;
  border: 0.5px solid #ccc;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: #878A8C;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  width: 312px;
}

.home-sidebar-banner {
  height: 34px;
  background-image: url("../../../assets/home-banner.png");
  background-size: cover;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text {
  font-family: "Noto Sans, Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: black
}

img {
  max-width: 100%;
  max-height: 100%;
}

.full-width {
  width: 100%;
}
