<div class="sidebar-tile d-none d-lg-block d-xl-block mt-3">
  <div id="banner"></div>
  <div class="text pt-3 ps-3 pe-3">
    <div id="heading" class="d-flex flex-row align-items-end mb-2">
      <div class="snoo-home"></div>
      <div id="title" class="ms-2 pb-2">
        Home
      </div>
    </div>
    Your personal Socaly frontpage. Come here to check in with your favorite communities.
  </div>
  <div class="ps-3 pe-3 pt-3">
    <button class="btn-primary full-width" (click)="createPost()">
      Create Post
    </button>
  </div>
  <div class="ps-3 pe-3 pt-3 pb-3">
    <button class="btn-secondary full-width" (click)="createCommunity()">
      Create Community
    </button>
  </div>
</div>
