@use '../../../utilities/colors.scss';

.content {
  --post-line-color: #ccc;
  border: 0.5px solid #ccc;
  overflow: hidden;
  background-color: rgba(255,255,255,0.8);
  color: colors.$darkgray;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  width: 312px;
}

.home-sidebar-banner {
  height: 34px;
  background-image: url("../../../assets/home-banner.png");
  background-size: cover;
}

.title {
  margin-top: -1.7rem;
}

.snoo-home {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/socaly-eb5f5.appspot.com/o/static%2Fsnoo-home.png?alt=media&token=c71da224-aa6e-42e4-b1a4-bc6087fa756b");
  background-size: 40px 68px;
  height: 68px;
  width: 40px;
}

.title-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.text {
  font-family: "Noto Sans, Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: black
}

img {
  max-width: 100%;
  max-height: 100%;
}

.full-width {
  width: 100%;
}
