<div class="sidebar d-none d-lg-block d-xl-block">
  <div class="bold-text mt-3">
    Join us!
  </div>
  <div style="text-align: center">
    <img src="assets/Socaly-logo_white.png"/>
  </div>
  <div style="font-size: 1em">
    <div class="bold-text mb-2">
      Benefits
    </div>
    <ul class="mb-3">
      <li>
        Own profile
      </li>
      <li>
        Take part in discussions
      </li>
      <li>
        Track your activity
      </li>
      <li>
        Notifications
      </li>
    </ul>
  </div>
  <div class="text-center mb-4">
    <a routerLink="/sign-up" class="sign-up me-2">Sign up</a>
  </div>
</div>
