/* You can add global styles to this file, and also import other style files */

@import "node_modules/bootstrap/scss/bootstrap";

$primaryColor: #0079d3;

html {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-top: 56px;
  height: 100%;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.sr-only {
  @extend .visually-hidden;
}

.btn-secondary, .btn-primary {
  fill: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 999px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  max-width: 100%;
  min-width: 100%;
  padding: 4px 16px;
  opacity: 1;
  color: $primaryColor;
  background-color: transparent;
}

.btn-primary {
  background-color: $primaryColor;
  color: white;
}

.btn-primary:active {
  background-color: #3d99de;
  border-color: #3d99de;
}

.btn-primary:hover {
  background-color: #1484d7;
  border-color: #1484d7;
}

.btn-primary:focus {
  background-color: #288eda;
  border-color: #288eda;
  box-shadow: none;
}

.btn-secondary:active:focus, .btn-primary:active:focus {
  box-shadow: none;
}

.btn-secondary:active {
  background-color: #d7eaf8;
  border: 1px solid $primaryColor;
  color: $primaryColor;
}

.btn-secondary:hover {
  background-color: #f5fafe;
  border: 1px solid $primaryColor;
  color: $primaryColor;
}

.btn-secondary:focus {
  background-color: #ebf4fc;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  box-shadow: none;
}

.dropdown-item {
  border-radius: 4px;
}

.dropdown-item:active {
  color: black;
  background-color: #ebebeb;
}

.dropdown-item:focus {
  background-color: #e0e0e0;
}

.dropdown-item:hover:not(:focus) {
  background-color: #f5f5f5;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  justify-content: flex-start;
  padding: 1rem;
  position: absolute;
  bottom: 0;
}

.modal-content {
  overflow: hidden;
  border: none;
}

.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid black;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.carousel-control-prev-icon {
  background-image: url("assets/icons/prev-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 22px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}

.carousel-control-next-icon {
  background-image: url("assets/icons/next-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 22px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}
.carousel-item {
  transition: visibility 0.05s;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.carousel-item.active {
  transition: visibility 0.05s;
  visibility: visible;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.carousel-indicators li {
  width : 10px;
  background-color: white;
  opacity: 0.5;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
  height: 10px;
  border-radius: 50%;
  margin: 2px;
}

.carousel-indicators .active {
  width : 10px;
  background-color: white;
  height: 10px;
  border-radius: 50%;
}

.material-icons-outlined, .material-icons {
  display: inline-flex;
  vertical-align: top;
}

/*Tinymce material icons*/

.tox-tbtn[aria-label="Bold"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Bold"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -2px;
}

[aria-label='Bold'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/bold.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Insert/edit link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Insert/edit link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Insert/edit link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Italic"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Italic"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -2px;
}

[aria-label='Italic'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/italic.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Strikethrough"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Strikethrough"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
}

[aria-label='Strikethrough'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/strikethrough.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Superscript"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Superscript"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Superscript'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/superscript.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Bullet list"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Bullet list"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Bullet list'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/bullet-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Numbered list"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Numbered list"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Numbered list'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/numbered-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Emoticons"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Emoticons"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Emoticons'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/emotions.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Remove link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Remove link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Remove link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/remove-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Open link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Open link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Open link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/open-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
