/* You can add global styles to this file, and also import other style files */
@use "utilities/colors";
@import "node_modules/bootstrap/scss/bootstrap";
@import "assets/prismjs/prism.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-top: 3rem;
  height: calc(100vh - 48px);
  background-color: colors.$body-background-color;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto
}

.sr-only {
  @extend .visually-hidden;
}

.btn-primary-small-font {
  @extend .btn-primary;
  font-size: 0.75rem !important;
}

.btn-primary, .btn-secondary {
  fill: colors.$primary-color;
  border: 1px solid colors.$primary-color;
  border-radius: 999px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial, sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
  max-width: 100%;
  min-width: 100%;
  padding: 0.25rem 1rem;
  opacity: 1;
  color: colors.$primary-color;
  background-color: transparent;
}

.btn-primary {
  background-color: colors.$primary-color;
  color: white;
}

.btn-primary:active {
  background-color: colors.$btn-primary-active-color;
  border-color: colors.$btn-primary-active-color;
}

.btn-primary:hover {
  background-color: colors.$btn-primary-hover-color;
  border-color: colors.$btn-primary-hover-color;
}

.btn-primary:focus {
  background-color: colors.$btn-primary-focus-color;
  border-color: colors.$btn-primary-focus-color;
  box-shadow: none;
}

.btn-primary:disabled {
  cursor: not-allowed;
  filter: grayscale(1);
}

.btn-secondary:active:focus, .btn-primary:active:focus {
  box-shadow: none;
}

.btn-secondary:active {
  background-color: colors.$btn-secondary-active-color;
  border: 1px solid colors.$primary-color;
  color: colors.$primary-color;
}

.btn-secondary:hover {
  background-color: colors.$btn-secondary-hover-color;
  border: 1px solid colors.$primary-color;
  color: colors.$primary-color;
}

.btn-secondary:focus {
  background-color: colors.$btn-secondary-focus-color;
  border: 1px solid colors.$primary-color;
  color: colors.$primary-color;
  box-shadow: none;
}

.btn-tertiary {
  border-radius: 4px;
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: colors.$darkgray;
  background-color: transparent;
  opacity: 1;
  text-decoration: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
}

.btn-tertiary:hover {
  cursor: pointer;
  background-color: colors.$lightgray;
  color: colors.$darkgray;
}

.sidebar-tile {
  border: 0.5px solid colors.$border-color;
  overflow: hidden;
  background-color: colors.$card-background-color;
  color: colors.$darkgray;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  width: 312px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 37.5px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: colors.$lightgray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0.15rem;
  bottom: 0.15rem;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: colors.$primary-color;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-item {
  border-radius: 4px;
}

.dropdown-item:active {
  color: black;
  background-color: colors.$dropdown-item-active-color;
}

.dropdown-item:focus {
  background-color: colors.$dropdown-item-focus-color;
}

.dropdown-item:hover:not(:focus) {
  background-color: colors.$dropdown-item-hover-color;
}

.dropdown-item.disabled {
  color: colors.$darkgray;
}

.sticky-top {
  top: 4rem;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  background-color: colors.$card-footer-background-color;
  border-top: none;
  justify-content: flex-start;
  padding: 1rem;
  position: static;
  bottom: 0;
}

.modal-content {
  overflow: hidden;
  border: none;
}

.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid black;
}

.carousel-control-prev-icon {
  background-image: url("assets/icons/prev-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 1.3rem;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}

.carousel-control-next-icon {
  background-image: url("assets/icons/next-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 1.3rem;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}

.carousel-indicators [data-bs-target] {
  width : 10px;
  background-color: white;
  opacity: 0.5;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
  height: 10px;
  border-radius: 50%;
  margin: 2px;
}

.carousel-indicators .active {
  opacity: 1;
}

.material-icons-outlined, .material-icons {
  display: inline-flex;
  vertical-align: top;
}

.nav-tabs {
  border: none;
}

.nav-link {
  border: none !important;
  background-color: white !important;
  color: black;
}

.nav-link:hover, .nav-link:focus {
  color: colors.$primary-color;
  border: none;
}

.nav-link.active {
  border-color: transparent !important;
  border-bottom: 2px colors.$primary-color solid !important;
  color: colors.$primary-color !important;
}

/*Tinymce material icons*/

.tox-tbtn[aria-label="Bold"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Bold"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -2px;
}

[aria-label='Bold'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/bold.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Insert/edit link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Insert/edit link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Insert/edit link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Italic"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Italic"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -2px;
}

[aria-label='Italic'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/italic.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Strikethrough"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Strikethrough"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
}

[aria-label='Strikethrough'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/strikethrough.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Superscript"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Superscript"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Superscript'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/superscript.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Bullet list"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Bullet list"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Bullet list'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/bullet-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Numbered list"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Numbered list"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Numbered list'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/numbered-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Emoticons"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Emoticons"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Emoticons'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/emotions.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Remove link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Remove link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Remove link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/remove-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Open link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Open link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Open link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/open-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Insert/edit code sample"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Insert/edit code sample"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Insert/edit code sample'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/code-block.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
