/* You can add global styles to this file, and also import other style files */

$menuButtonBackground-active: #ebebeb;
$menuButtonBackground-focus: #e0e0e0;
$menuButtonBackground-hover: #f5f5f5;

html {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-top: 56px;
  height: 100%;
  background-color: #f0f2f5;
}

.login,
.sign-up {
  background-color: #8B4BF4;
  color: aliceblue;
  fill: #8B4BF4;
  border: 1px solid #8B4BF4;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("assets/icons/prev-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 22px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}

.carousel-control-next-icon {
  background-image: url("assets/icons/next-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 22px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}
.carousel-item {
  transition: visibility 0.05s;
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.carousel-item.active {
  transition: visibility 0.05s;
  visibility: visible;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.carousel-indicators li {
  width : 10px;
  background-color: white;
  opacity: 0.5;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
  height: 10px;
  border-radius: 50%;
  margin: 2px;
}

.carousel-indicators .active {
  width : 10px;
  background-color: white;
  height: 10px;
  border-radius: 50%;
}

.material-icons-outlined, .material-icons {
  display: inline-flex;
  vertical-align: top;
}

/*Tinymce material icons*/

.tox-tbtn[aria-label="Bold"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Bold"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -2px;
}

[aria-label='Bold'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/bold.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Insert/edit link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Insert/edit link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Insert/edit link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Italic"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Italic"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -2px;
}

[aria-label='Italic'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/italic.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Strikethrough"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Strikethrough"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
  margin-bottom: -3px;
}

[aria-label='Strikethrough'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/strikethrough.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Superscript"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Superscript"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Superscript'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/superscript.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Bullet list"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Bullet list"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Bullet list'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/bullet-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Numbered list"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Numbered list"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Numbered list'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/numbered-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Emoticons"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Emoticons"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Emoticons'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/emotions.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Remove link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Remove link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Remove link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/remove-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Open link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Open link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Open link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/open-link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.tox-tbtn[aria-label="Link"] .tox-icon svg {
  display: none;
}

.tox-tbtn[aria-label="Link"] .tox-icon {
  display: list-item;
  list-style: none;
  width: 25px;
  height: 25px;
}

[aria-label='Link'].tox-tbtn .tox-icon {
  background-image: url("assets/icons/link.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
