/* You can add global styles to this file, and also import other style files */
html {
  padding: 0;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-top: 56px;
  height: 100%;
  background-color: #f0f2f5;
}

.login,
.sign-up {
  background-color: #8B4BF4;
  color: aliceblue;
  fill: #8B4BF4;
  border: 1px solid #8B4BF4;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.carousel-control-prev-icon {
  background-image: url("assets/icons/prev-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 22px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}

.carousel-control-next-icon {
  background-image: url("assets/icons/next-slide-icon.svg");
  background-color: white;
  background-size: 40px;
  border-radius: 40px;
  padding: 22px;
  box-shadow: 0 4px 14px rgb(0 0 0 / 10%);
}
.carousel-item {
  transition: opacity 0.5s ease !important;
  display: inline-block !important;
  vertical-align: middle !important;
  float: none;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  display: inline-block !important;
  vertical-align: middle !important;
  float: none;
  opacity: 1;
}

.material-icons-outlined, .material-icons {
  display: inline-flex;
  vertical-align: top;
}
