<div id="community-directory">
  <h2>Community directory</h2>
  <span class="community-character" *ngFor="let character of 'abcdefghijklmnopqrstuvwxyz#'.split('')"
        (click)="sortBy(character)">
    {{character}}
  </span>
</div>
<div class="container">
  <div>
    Browse the communities starting with '{{sortingLetter}}'
  </div>
  <hr/>
  <div id="communities" class="d-flex flex-wrap">
    <div class="community" *ngFor="let community of filteredCommunities">
      <a class="community-link" routerLink="/community/{{community.name}}">{{community.name}}</a>
    </div>
  </div>
</div>
