<h2>Manage Emails</h2>
<h4>Activity</h4>
<div class="d-flex mb-2">
  <div>
    <h3>
      Comments on your posts
    </h3>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.postCommentEmails" (click)="updatePostCommentEmails()">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="d-flex mb-2">
  <div>
    <h3>
      Replies to your comments
    </h3>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.commentReplyEmails" (click)="updateCommentReplyEmails()">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="d-flex mb-2">
  <div>
    <h3>
      Upvotes on your posts
    </h3>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.postUpVoteEmails" (click)="updatePostUpVoteEmails()">
      <span class="slider round"></span>
    </label>
  </div>
</div>

<div class="d-flex mb-2">
  <div>
    <h3>
      Upvotes on your comments
    </h3>
  </div>
  <div class="d-flex align-items-center justify-content-end flex-grow-1">
    <label class="switch">
      <input type="checkbox" [checked]="userSettings.commentUpVoteEmails" (click)="updateCommentUpVoteEmails()">
      <span class="slider round"></span>
    </label>
  </div>
</div>
