<div class="socaly-body">
  <div class="container">
    <div class="row">
      <hr style="height:.5px">
      <div class="col-md-3 offset-md-1">
        <div class="sticky-top sticky-top-offset">
          <app-welcome-side-bar *ngIf="!isLoggedIn"></app-welcome-side-bar>
          <app-side-bar></app-side-bar>
          <app-community-side-bar></app-community-side-bar>
        </div>
      </div>
      <div class="col-md-7 ps-4">
        <app-create-post-topbar></app-create-post-topbar>
        <app-post-tile [posts$]="posts"></app-post-tile>
      </div>
    </div>
  </div>
</div>
