<div id="{{comment.postId}}-{{comment.username}}" *ngIf="!collapsed" class="mb-3">
  <div class="thread-line ps-2">
    <a class="comment-username ms-2" routerLink="/user/{{comment.username}}">
      {{comment.username}}
    </a>
    <span class="timeSinceCreation">
    • {{comment.timeSinceCreation}}
    </span>
    <span class="timeSinceEdit" *ngIf="comment.timeSinceEdit.length > 0">
      • edited {{comment.timeSinceEdit}}
    </span>
    <p class="comment-text ms-2 mt-1 mb-1" [innerHTML]="comment.text" style="margin: 0"></p>
    <div class="d-flex flex-row ms-2">
      <app-comment-vote class="flex-column" [comment]="comment"></app-comment-vote>
      <div>
        <button class="ms-1 btn-tertiary" (click)="showReplyForm(); $event.stopPropagation()">
          <span class="material-symbols-outlined pe-1">reply</span>
          <span>Reply</span>
        </button>
      </div>
      <button class="ms-1 btn-tertiary" (click)="collapse(); $event.stopPropagation()">
        <span>Collapse</span>
      </button>
    </div>
    <div *ngIf="replyFormIsExpanded" class="mt-3 ms-2">
      <form [formGroup]="replyForm" (ngSubmit)="postReply()">
        <editor apiKey="yrqxhih3zs204qm3tlwladpgem9hqlj1hvhoxuhn020cbidz" [formControlName]="'text'" [init]="editorConfig"></editor>
        <div class="d-flex flex-row-reverse">
          <div>
            <button type="submit" class="btn-primary-small-font mt-2">Reply</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="hasSubComments()">
      <div *ngFor="let comment of subComments" class="ms-3 mb-3 mt-3">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
    </div>
</div>
<div *ngIf="collapsed">
  <button class="btn-tertiary" (click)="extend(); $event.stopPropagation()">
    <span class="material-icons-outlined me-1">expand_more</span>
    Expand
  </button>
  <a class="comment-username ms-2" routerLink="/user/{{comment.username}}">{{comment.username}}</a>
</div>
